In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
data=pd.read_csv('store.csv')

In [3]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
Duration                115597 non-null int64
Start date              115597 non-null object
End date                115597 non-null object
Start station number    115597 non-null int64
Start station           115597 non-null object
End station number      115597 non-null int64
End station             115597 non-null object
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [5]:
data.describe()

            Duration  Start station number  End station number
count  115597.000000         115597.000000       115597.000000
mean     1254.649956          31266.213431        31268.042250
std      2914.317998            187.645048          186.194316
min        60.000000          31000.000000        31000.000000
25%       403.000000          31110.000000        31111.000000
50%       665.000000          31213.000000        31214.000000
75%      1120.000000          31301.000000        31238.000000
max     85644.000000          31805.000000        31805.000000

In [6]:
le=LabelEncoder()

In [7]:
data=data.drop(['Start date','End date','Start station','End station'],axis=1)

In [8]:
data['Member type']=le.fit_transform(data['Member type'])

In [9]:

data['Bike number']=le.fit_transform(data['Bike number'])

In [10]:
data.head()

,Duration,Start station number,End station number,Bike number,Member type
0,1012,31208,31108,614,1
1,61,31209,31209,41,1
2,2690,31600,31100,836,1
3,1406,31600,31602,282,1
4,1413,31100,31201,734,1

In [11]:
data.shape

(115597, 5)

In [12]:
train=data.iloc[0:85000]
test=data.iloc[85000:]


x_train=train.iloc[:,0:4]
y_train=train.iloc[:,4]
x_test=test.iloc[:,0:4]
y_test=test.iloc[:,4]

In [13]:
train.shape

(85000, 5)

In [14]:
test.shape

(30597, 5)

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
model=GaussianNB()

In [17]:
model.fit(train.iloc[:,0:4],train.iloc[:,4])

GaussianNB(priors=None)

In [18]:
predicted=model.predict(test.iloc[:,0:4])
print(test.iloc[:,4])
print(predicted)

85000     1
85001     1
85002     1
85003     1
85004     1
         ..
115592    0
115593    1
115594    1
115595    1
115596    0
Name: Member type, Length: 30597, dtype: int64
[1 1 1 ... 1 1 0]

In [19]:
print(predicted)

[1 1 1 ... 1 1 0]

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
score=accuracy_score(test.iloc[:,4],predicted)

print(score)

0.9179331306990881